In [11]:
import pandas as pd
import numpy as np

In [12]:
telehealth = pd.read_csv('Datasets\householdTelehealth.csv')
telehealth.head()

,Area,Week,Number,Margin of Error +/-,Percent,Percent Margin of Error +/-,Measure Universe,Total Population age 18+
0,United States,"28 - April 14-26, 2021",46589298.0,1126574.0,25.7,0.6,181405214.0,250265449.0
1,United States,"29 - April 28 - May 10, 2021",46230452.0,1250804.0,25.3,0.7,182388274.0,250265449.0
2,United States,"30 - May 12-24, 2021",46937309.0,1054827.0,25.3,0.5,185266462.0,250265449.0
3,United States,"31 - May 26 - June 7, 2021",44910425.0,994849.0,24.6,0.5,182891177.0,250265449.0
4,United States,"32 - June 9-21, 2021",43673663.0,1054704.0,23.8,0.5,183365248.0,250265449.0

In [13]:
#delete first two characters of week column
telehealth['Week'] = telehealth['Week'].str[4:] 
telehealth.head()

,Area,Week,Number,Margin of Error +/-,Percent,Percent Margin of Error +/-,Measure Universe,Total Population age 18+
0,United States,"April 14-26, 2021",46589298.0,1126574.0,25.7,0.6,181405214.0,250265449.0
1,United States,"April 28 - May 10, 2021",46230452.0,1250804.0,25.3,0.7,182388274.0,250265449.0
2,United States,"May 12-24, 2021",46937309.0,1054827.0,25.3,0.5,185266462.0,250265449.0
3,United States,"May 26 - June 7, 2021",44910425.0,994849.0,24.6,0.5,182891177.0,250265449.0
4,United States,"June 9-21, 2021",43673663.0,1054704.0,23.8,0.5,183365248.0,250265449.0

In [14]:
#convert to csv
telehealth.to_csv('Datasets\householdTelehealthCleaned.csv')