In [6]:
import pandas as pd
import numpy as np

In [7]:
paying = pd.read_csv('Datasets\difficultyPayingHousehold.csv')
paying.head()

,Area,Week,Number,Margin of Error +/-,Percent,Percent Margin of Error +/-,Measure Universe,Total Population age 18+
0,United States,"13 - August 19-31, 2020",76520073.0,979147.0,31.9,0.4,239811862.0,249170916.0
1,United States,"14 - September 2-14, 2020",78328774.0,1336568.0,32.7,0.6,239830624.0,249170916.0
2,United States,"15 - September 16-28, 2020",76871813.0,1139172.0,31.9,0.5,241125107.0,249170916.0
3,United States,"16 - September 30 - October 12, 2020",77534553.0,1419021.0,32.2,0.6,240977583.0,249170916.0
4,United States,"17 - October 14-26, 2020",79672272.0,1397650.0,33.1,0.6,240351253.0,249170916.0

In [8]:
#delete first two characters of week column
paying['Week'] = paying['Week'].str[4:] 
paying.head()

,Area,Week,Number,Margin of Error +/-,Percent,Percent Margin of Error +/-,Measure Universe,Total Population age 18+
0,United States,"August 19-31, 2020",76520073.0,979147.0,31.9,0.4,239811862.0,249170916.0
1,United States,"September 2-14, 2020",78328774.0,1336568.0,32.7,0.6,239830624.0,249170916.0
2,United States,"September 16-28, 2020",76871813.0,1139172.0,31.9,0.5,241125107.0,249170916.0
3,United States,"September 30 - October 12, 2020",77534553.0,1419021.0,32.2,0.6,240977583.0,249170916.0
4,United States,"October 14-26, 2020",79672272.0,1397650.0,33.1,0.6,240351253.0,249170916.0

In [9]:
paying.to_csv('Datasets\difficultyPayingHouseholdCleaned.csv')